# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
env/
.venv/

# Logs and temp files
*.log
*.tmp
*.swp

# Appium-related
*.apk
output/
screenshots/

# IDE/editor files
.idea/
.vscode/

# Secrets and config
.env
*.keystore

# Custom project folders
data/data.py
generator/generator.py